<h1>Modifier la reservation pour la voiture <%= @reservation.title %></h1>
<%= form_for @reservation do | f | %>
  <%= f.label 'Debut' %>
  <%= f.text_field :price %>
  <%= f.submit 'Editer' %>
<% end %>
