<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
    <title>Crearun - loisir et créativité pour tous </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- Custom CSS -->

    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags%>

  </head>

  <body>


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
       <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header page-scroll">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
               </button>

                 <%= link_to image_tag("/logo_clean.png", :id =>"logo"), root_path, :class => "navbar-brand" %>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                   <li class="hidden">
                       <a href="#page-top"></a>
                   </li>
                   <li class="page-scroll">
                     <i class="fa fa-volume-control-phone" aria-hidden="true">  02 62 02 43 31</i>
                   </li>
                   <li class="page-scroll">
                       <%= link_to "Notre agence" , apropos_path, :class => "#" %>
                   </li>

               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container-fluid -->
   </nav>


    <%= yield %>
    <footer class="text-center">
               <div class="footer-above">
                   <div class="container">
                       <div class="row">
                           <div class="footer-col col-md-4">
                               <h3><em>CREA RUN</em></h3>
                               <p class="text_footer">Loisir et créativité pour tous</p>
                           </div>
                           <div class="footer-col col-md-4">
                               <h3><em>Contact</em></h3>
                               <p class="text_footer">30 rue du presbytère <br>97410 Saint-pierre<br> </p>
                           </div>
                           <div class="footer-col col-md-4">
                               <h3><em>Copyright</em> </h3>
                               <p class="text_footer"> © CREA RUN 2016</p>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="footer-below">
                   <div class="container">
                       <div class="row">
                           <div class="col-lg-12">
                               Copyright ©CREA RUN 2016
                           </div>
                       </div>
                   </div>
               </div>
       </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    


  </body>
</html>
